body {
    background-color: brown;
}

header, main {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

main {
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}

main > div {
    margin: 20px 0;
}
